<tr id=<%= "experiencia_laboral_#{experiencia_laboral.id}" %>>
    <td><%= link_to experiencia_laboral.id, edit_experiencia_laboral_path(experiencia_laboral), :remote => true %></td>
    <td><%= experiencia_laboral.empresa %></td>
    <td><%= experiencia_laboral.cargo %></td>
    <td><%= experiencia_laboral.telefono %></td>
    <td><%= experiencia_laboral.fecha_incio %></td>
    <td><%= experiencia_laboral.fecha_terminacion %></td>
    <td><%= experiencia_laboral.usuario_id %></td>    
    <td>
        <%= link_to  image_tag('view1.png'), experiencia_laboral, :remote => true,  :rel => "tooltip", :title => "Mostrar", :class => 'btn btn-link'%>
        <%= link_to image_tag('editar1.png'), edit_experiencia_laboral_path(experiencia_laboral),  :remote => true,  :rel => "tooltip", :title => "Editar", :class => 'btn btn-link'%>
    </td>
</tr>