<%- model_class = InformacionAcademica -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:tipo_de_dato) %>:</strong></dt>
  <dd><%= @informacion_academica.tipo_de_dato %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @informacion_academica.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_terminacion) %>:</strong></dt>
  <dd><%= @informacion_academica.fecha_terminacion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:titulo_obtenido) %>:</strong></dt>
  <dd><%= @informacion_academica.titulo_obtenido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:usuario_id) %>:</strong></dt>
  <dd><%= @informacion_academica.usuario_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              informaciones_academicas_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_informacion_academica_path(@informacion_academica), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              informacion_academica_path(@informacion_academica),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
